.logo{
  display: flex;
}
.logo_img{
  position: absolute;
  top: 2%;
  left: 10%;
  height: 100px;
}

.authorization_container{
  display: flex;
  justify-content: flex-end;
  margin:8px;
}

.authorization li {
  display: inline;
  padding: 15px;
}

.authorization a{
  font-size: 12px;
  text-transform: uppercase;
  background: white;
  color: DimGray;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}

.nav_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.nav li{
  margin-top: 50px;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}

.nav a{
  text-decoration: none;
  color: DimGray;
}

.nav a:hover{
  text-decoration: underline;
}

.bookstore__hero-banner{
  position: relative;

}
.content__text-head{
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 38%;
  left: 11%;
  font-family: "Times New Romans", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.content__text{
  position: absolute;
  color: white;
  top: 50%;
  left: 11%;
  font-family: "Times New Romans", sans-serif;
  font-weight: bold;
}

.main{
  display: flex;
  flex-direction: column;
  background-color: #F4F6F6;
}

.category{
  padding-left: 80px;
  font-size: 48px;
  font-family: "Times New Romans", sans-serif;
  font-weight: normal;
}


.category_books{
  list-style-type:none;
  display: flex;
  justify-content: space-around;
}

.box{
  position: relative;
  background-color: #FFF;
  height:300px;
  width:250px;
  border-radius: 1%;
  margin-top:20px
}

.book-img{
  display: block;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}

.book_name, .book_author, h2.book_rating{
  font-family: "Muli", sans-serif;
  font-size: 14px;
  color: DimGray;
  font-weight: normal;
}

.book_rating{
  margin-bottom: 30px;
}

.afterline{
  margin-bottom: 100px;
}

hr{
  margin-top: 40px;
}

.see_more{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 20px 70px;
  background-color: #000;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 200px;
}

footer{
  display: flex;
  background-color: #303030;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.footer-refs{
  padding: 10px;
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
}

.footer-refs:hover{
  text-decoration: underline;
}

.fa{
  color: #303030;
  background-color: #FFF;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  width: 12px;
  text-decoration: none;
  margin: 5px 5px;
}

@media only screen and (max-width:1024px) {
  .logo_img{
    height: 95px;
  }

  .authorization a{
    font-size: 11px;
  }

  .nav_container{
    margin: 0px;
  }

  .nav li{
    font-size: 19px;
  }

  .content__text-head{
    font-size: 40px;
  }

  .content__text{
    font-size: 15px;
    top: 49%;
  }

  .category{
    font-size: 44px;
    padding-left: 50px;
  }

  .box{
    height:270px;
    width:220px;
    margin-top:20px
  }

  .book-img{
    padding: 50px 0;
  }


  .book_name, .book_author, h2.book_rating{
    font-size: 13px;
  }

  .see_more{
    height: 60px;
    width: 150px;
    font-size: 15px;
    margin-bottom: 30px;
  }

  footer{
    height: 150px;
  }

  .footer-refs{
    font-size: 11px;
  }

  .fa{
    padding: 8px;
  }
}

@media only screen and (max-width:899px) {
  .logo_img{
    height: 85px;
  }

  .authorization a{
    font-size: 11px;
  }

  .nav_container{
    margin: 0px;
  }

  .nav li{
    font-size: 17px;
  }

  .content__text-head{
    font-size: 30px;
  }

  .content__text{
    font-size: 13px;
    top: 49%;
  }

  .category{
    font-size: 36px;
    padding-left: 50px;
  }

  .box{
    height:250px;
    width:170px;
  }

  .book-img{
    padding: 50px 0;
  }


  .book_name, .book_author, h2.book_rating{
    font-size: 12px;
  }

  .see_more{
    padding: 15px 40px;
    font-size: 14px;
    margin-bottom: 30px;
  }

  footer{
    height: 150px;
  }

  .footer-refs{
    font-size: 11px;
  }

  .fa{
    padding: 8px;
  }
}

@media only screen and (max-width:699px) {
  .logo_img{
    height: 75px;
  }

  .authorization a{
    font-size: 10px;
  }

  .nav_container{
    margin: 0px;
  }

  .nav li{
    font-size: 14px;
  }

  .content__text-head{
    font-size: 22px;
  }

  .content__text{
    font-size: 10px;
    top: 49%;
  }

  .category{
    font-size: 28px;
    padding-left: 50px;
  }

  .category_books{
    flex-flow: wrap;
  }

  .box{
    height:220px;
    width:160px;
  }

  .book-img{
    padding: 50px 0;
  }


  .book_name, .book_author, h2.book_rating{
    font-size: 11px;
  }

  .see_more{
    padding: 12px 35px;
    font-size: 12px;
    margin-bottom: 30px;
  }

  footer{
    height: 200px;
    flex-flow: column wrap;
  }

  .footer-refs{
    font-size: 10px;
  }

  .fa{
    padding: 8px;
  }
}

@media only screen and (max-width:499px) {
  .logo_img{
    height: 60px;
  }

  .authorization a{
    font-size: 9px;
  }

  .nav_container{
    margin: 0px;
  }

  .nav li{
    font-size: 12px;
  }

  .content__text-head{
    font-size: 17px;
  }

  .content__text{
    font-size: 8px;
    top: 49%;
  }

  .category{
    font-size: 24px;
    padding-left: 35px;
  }

  .category_books{
    flex-flow: wrap;
  }

  .box{
    height:210px;
    width:150px;
  }

  .book-img{
    padding: 50px 0;
  }


  .book_name, .book_author, h2.book_rating{
    font-size: 10px;
  }

  .see_more{
    padding: 10px 30px;
    font-size: 9px;
  }

  footer{
    height: 200px;
    flex-flow: column wrap;
  }

  .footer-refs{
    font-size: 10px;
  }

  .fa{
    padding: 8px;
  }
}

@media only screen and (max-width:375px) {
  .logo_img{
    height: 50px;
  }

  .authorization a{
    font-size: 7px;
  }

  .nav_container{
    margin: 0px;
  }

  .nav li{
    font-size: 11px;
  }

  .content__text-head{
    font-size: 16px;
  }

  .content__text{
    font-size: 7px;
    top: 49%;
  }

  .category{
    font-size: 24px;
  }

  .category_books{
    flex-flow: wrap;
  }

  .box{
    height:200px;
    width:140px;
  }

  .book-img{
    padding: 50px 0;
  }


  .book_name, .book_author, h2.book_rating{
    font-size: 9px;
  }

  br{
    margin-top: 20px;
  }

  .see_more{
    padding: 7px 20px;
    font-size: 9px;
  }

  footer{
    height: 200px;
    flex-flow: column wrap;
  }

  .footer-refs{
    font-size: 10px;
  }

  .fa{
    padding: 8px;
  }
}
